<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="SearchSpringDev\FeedLogger\Api\Data\ProductInfoResponseInterface"
                type="SearchSpringDev\FeedLogger\Model\Data\ProductInfoResponse"/>
    <preference for="SearchSpringDev\FeedLogger\Api\ProductInfoInterface"
                type="SearchSpringDev\FeedLogger\Model\Api\ProductInfo"/>
    <preference for="SearchSpringDev\FeedLogger\Api\GetFeedLoggerInterface"
                type="SearchSpringDev\FeedLogger\Model\Api\GetFeedLogger"/>

    <virtualType name="SearchSpringFeedGenerateFeedAfterLoadCollectionProcessorPool"
                 type="SearchSpring\Feed\Model\Feed\Collection\ProcessorPool">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="custom" xsi:type="object">SearchSpringDev\FeedLogger\Model\Feed\Collection\CustomProcessor
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="SearchSpring\Feed\Model\Feed\DataProviderPool">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="custom_provider" xsi:type="object">
                    SearchSpringDev\FeedLogger\Model\Feed\DataProvider\CustomProvider
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="SearchSpringFeedBaseLogHandlerAdvanced" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/searchspringdev_logger.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="SearchSpringFeedSystemLogHandlerAdvanced" type="Magento\Framework\Logger\Handler\System">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/searchspringdev_logger.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="SearchSpringAdvancedFeedLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">SearchSpringFeedBaseLogHandlerAdvanced</item>
                <item name="system" xsi:type="object">SearchSpringFeedSystemLogHandlerAdvanced</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="SearchSpring\Feed\Model\Feed\StorageInterface">
        <plugin name="SearchSpringCustomStoragePluginForFeedLogger"
                type="SearchSpringDev\FeedLogger\Plugin\Feed\StorageAddDataLoggerPlugin"
                sortOrder="10"/>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\CollectionProviderInterface">
        <plugin name="SearchSpringCustomCollectionProviderPluginForFeedLogger"
                type="SearchSpringDev\FeedLogger\Plugin\Feed\CollectionProviderLoggerPlugin"
                sortOrder="10"/>
    </type>

    <type name="SearchSpringDev\FeedLogger\Model\Feed\DataProvider\CustomProvider">
        <arguments>
            <argument name="logger" xsi:type="object">SearchSpringAdvancedFeedLogger</argument>
        </arguments>
    </type>
    <type name="SearchSpringDev\FeedLogger\Model\Feed\Collection\CustomProcessor">
        <arguments>
            <argument name="logger" xsi:type="object">SearchSpringAdvancedFeedLogger</argument>
        </arguments>
    </type>

    <type name="SearchSpringDev\FeedLogger\Plugin\Feed\StorageAddDataLoggerPlugin">
        <arguments>
            <argument name="logger" xsi:type="object">SearchSpringAdvancedFeedLogger</argument>
        </arguments>
    </type>
    <type name="SearchSpringDev\FeedLogger\Plugin\Feed\CollectionProviderLoggerPlugin">
        <arguments>
            <argument name="logger" xsi:type="object">SearchSpringAdvancedFeedLogger</argument>
        </arguments>
    </type>
    <type name="SearchSpringDev\FeedLogger\Model\Api\ProductInfo">
        <arguments>
            <argument name="logger" xsi:type="object">SearchSpringAdvancedFeedLogger</argument>
        </arguments>
    </type>


</config>
